.table-body {
	&__td {
		padding: 10px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}

	&__parent-tr_is-open {
		& + .table-body__child-tr {
			display: table-row;
			color: gray;
		}
	}

	&__child-tr {
		display: none;
	}
}
